<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Difficulty 1</h1>
    <ul>
      <% @recipes.where(difficulty: 1).each do |f|%>
        <li>
          <h3><%= link_to f.name, recipe_path %></h3>
        </li>
      <%end%>
    </ul>
    <h1>Difficulty 2</h1>
    <ul>
      <% @recipes.where(difficulty: 2).each do |f|%>
        <li>
          <h3><%= link_to f.name, recipe_path %></h3>
        </li>
      <%end%>
    </ul>
    <h1>Difficulty 3</h1>
    <ul>
      <% @recipes.where(difficulty: 3).each do |f|%>
        <li>
          <h3><%= link_to f.name, recipe_path %></h3>
        </li>
      <%end%>
    </ul>
    <h1>Difficulty 4</h1>
    <ul>
      <% @recipes.where(difficulty: 4).each do |f|%>
        <li>
          <h3><%= link_to f.name, recipe_path %></h3>
        </li>
      <%end%>
    </ul>
    <h1>Difficulty 5</h1>
    <ul>
      <% @recipes.where(difficulty: 5).each do |f|%>
        <li>
          <h3><%= link_to f.name, recipe_path %></h3>
        </li>
      <%end%>
    </ul>
  </body>
</html>
